html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    object-fit: cover;
    font-family: "Legan", "Mondia", serif;
}

:root {
    --black: #030303;
    --white: #fff;
    --orange: #EF9700;
    --brown: rgba(151, 77, 36, 1);
    --cream: rgba(244, 229, 212, 1);
    --creamDark: #E7D2BB;
    --numbers: #DDC6AE;
}

@font-face {
    font-family: Legan;
    src: url(../fonts/Legan.ttf);
}

@font-face {
    font-family: ArnoPro;
    src: url(../fonts/ArnoPro.otf);
}

@font-face {
    font-family: Mondia;
    src: url(../fonts/Mondia.otf);
}

/* for all project */
.container {
    max-width: 1320px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'ArnoPro', 'Legan', 'serif';
}

h3,
h4 {
    font-family: 'ArnoPro', 'Legan', 'serif';
}

a {
    color: var(--brown);
    font-family: 'ArnoPro', 'Legan', 'serif';
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

/* end */

/* header start */
header {
    background-color: var(--black);
    padding: 5px 0;
    top: 0;

}

.header-burger-icon {
    display: none;
    cursor: pointer;
}

.header-burger-icon:hover path {
    fill: var(--orange);
}

.mobile-close-icon {
    display: none;
    cursor: pointer;
}

.mobile-close-icon:hover path {
    fill: var(--orange);
}

.logo-container {
    position: relative;
}

.logo-container a {
    position: absolute;
    inset: 0;
    cursor: pointer;
}

nav {
    gap: 50px;
}

.navLink {
    font-family: 'ArnoPro', 'Legan', 'serif';
    color: var(--white);
    transition: 0.3s all ease-out;
    position: relative;
}



.navLink::after {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
    left: 0;
}

.navLink.activeNav {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.navLink:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1)
}

.navLink:hover::after {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.search-box {
    background: var(--white);
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: var(--black);
    font-size: 14px;
    transition: 0.5s all ease-in-out;
    line-height: 30px;
    width: 0px;
}

.search-box:hover .search-btn {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1)
}

.search-box.open-search {
    width: 150px;
    padding: 1px 6px;
}

.search-box:hover>.search-input {
    width: 150px;
    padding: 1px 6px;
}

.search-btn {
    background-color: var(--black);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.4s all ease-in-out;
}

.search-btn svg path {
    fill: var(--white);
}


[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEyMy4wNXB4IiBoZWlnaHQ9IjEyMy4wNXB4IiB2aWV3Qm94PSIwIDAgMTIzLjA1IDEyMy4wNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIzLjA1IDEyMy4wNTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTEyMS4zMjUsMTAuOTI1bC04LjUtOC4zOTljLTIuMy0yLjMtNi4xLTIuMy04LjUsMGwtNDIuNCw0Mi4zOTlMMTguNzI2LDEuNzI2Yy0yLjMwMS0yLjMwMS02LjEwMS0yLjMwMS04LjUsMGwtOC41LDguNQ0KCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQNCgkJYzIuMywyLjMsNi4xLDIuMyw4LjUsMGw4LjUtOC41YzIuMy0yLjMsMi4zLTYuMSwwLTguNWwtNDIuNS00Mi40bDQyLjQtNDIuMzk5QzEyMy42MjUsMTcuMTI1LDEyMy42MjUsMTMuMzI1LDEyMS4zMjUsMTAuOTI1eiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
    background-size: 10px 10px;
    cursor: pointer;
}

.social-container {
    gap: 20px;
}

.social-container a {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.5s all ease-in-out;
}

.social-container a:hover {
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 1)
}

header.sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 20;
}

.mobile-header {
    display: none;
    transform: translate(100%);
    transition: 0.5s all ease-in-out;
}

/* header end */

/* about start */
main {
    background-color: var(--cream);
}


/* about top video */
.about-video-bg {
    background: #000000;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
}

.about-video-img-wrapper img {
    width: 100%;
    height: 100%;
    position: relative;
}

.video-icon {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
}

.about-video-txt {
    position: absolute;
    top: 70%;
    left: 35%;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 1.3rem;
}

/* --------video */
/* about bottom */
.currentNav {
    color: gray;
}

.hero-bottom {
    padding: 70px 0;
}

.about-first-top-wrapper {
    position: relative;
}

.about-first-img-wrapper img {
    width: 100%;
    height: 100%;
}

.about-first-number {
    color: var(--numbers);
    text-align: center;
    font-size: 250px;
    font-weight: 700;
    opacity: 0.35;
}

.about-first-title {
    color: var(--brown);
    font-size: 55px;
    font-weight: 400;
    width: 4ch;
    position: absolute;
    top: 18%;
    left: 14%;
}

.about-first-text-wrapper {
    background-color: var(--creamDark);
    width: 60%;
    padding: 45px 57px;
    align-self: center;
}

.about-first-text-wrapper p {
    line-height: 1.1;
    font-size: 18px;
}

/* middle */
.about-first-middle-wrapper,
.about-first-bottom-wrapper {
    position: relative;
    margin-top: 50px;
}

.about-first-middle-title {
    color: var(--brown);
    font-size: 55px;
    font-weight: 400;
    width: 4ch;
    position: absolute;
    top: 18%;
    right: 22%;
    z-index: 2;
}

.about-first-title.bottom-title {
    left: 15%;
}

/* top image before */

.about-first-img-wrapper.top-img-wrapper::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--creamDark);
    position: absolute;
    top: 0;
    left: 10%;
}

/* top text before */
.about-first-text-wrapper.top-txt-wrapper {
    position: relative;
}

.about-first-text-wrapper.top-txt-wrapper::before {
    content: '';
    width: 17.8%;
    height: 1px;
    background-color: var(--creamDark);
    position: absolute;
    top: 0;
    left: -16.6%;
}

.about-first-text-wrapper.top-txt-wrapper::after {
    content: '';
    width: 1px;
    height: 18%;
    background-color: var(--creamDark);
    position: absolute;
    bottom: -18%;
    left: 0;
}

/* middle img before/after */
.about-first-img-wrapper.middle-img-wrapper::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--creamDark);
    position: absolute;
    top: 0;
    right: 9%;
}

.about-first-img-wrapper.middle-img-wrapper::before {
    content: '';
    width: 36.8%;
    height: 1px;
    background-color: var(--creamDark);
    position: absolute;
    top: 0;
    right: 9%;
}

/* middle text before/after */
.about-first-text-wrapper.middle-txt {
    position: relative
}

.about-first-text-wrapper.middle-txt::before {
    content: '';
    width: 20%;
    height: 1px;
    background-color: var(--creamDark);
    position: absolute;
    top: 0;
    right: -18.3%;
}

.about-first-text-wrapper.middle-txt::after {
    content: '';
    width: 1px;
    height: 18%;
    background-color: var(--creamDark);
    position: absolute;
    bottom: -18%;
    right: 0%;
}

/* bottom img before/after */
.about-first-img-wrapper.bottom-img-wrapper {
    position: relative;
}

.about-first-img-wrapper.bottom-img-wrapper::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--creamDark);
    position: absolute;
    top: 0;
    left: -68%;
}

.about-first-img-wrapper.bottom-img-wrapper::after {
    content: '';
    width: 68%;
    height: 1px;
    background-color: var(--creamDark);
    position: absolute;
    top: 0;
    left: -68%;
}

.text-line {
    position: relative;
}

.text-line::before {
    content: '';
    width: 18.5%;
    height: 1px;
    background-color: var(--creamDark);
    position: absolute;
    top: 0;
    left: -18.3%;
}

/* awards start */
.awards-swiper-section {
    background-color: var(--cream);
    padding: 60px 0;
}

.awards-heading {
    color: var(--brown);
    font-size: 55px;
    text-align: center;
    font-weight: 400;
}

/* swiper start */

.swiper {
    width: 100%;
    height: 100%;
    padding: 50px 0 90px 0;
}

.swiper-slide {
    text-align: center;
    align-items: center;
    width: fit-content;
    height: 100px;
    position: relative;
    gap: 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: transparent;
    height: 10px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid var(--brown);
    color: transparent;
    transition: 0.4s all ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    box-shadow: 0 0 10px var(--brown);
}
.swiper-button-next{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12' fill='none'><path d='M12.25 11L19 6M19 6L12.25 0.999999M19 6L0.999999 6' stroke='%23974D24' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 40%;
    top: 100%;
}
.swiper-button-next::before {
    position: absolute;
    content: 'ir…ôli';
    color: var(--brown);
    top: 10%;
    right: 55px;
    font-family: Legan, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.swiper-button-prev{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12' fill='none'><path d='M7.75 1L1 6M1 6L7.75 11M1 6H19' stroke='%23974D24' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 40%;
    top: 100%;
}
.swiper-button-prev::before {
    position: absolute;
    content: 'geri';
    color: var(--brown);
    top: 10%;
    left: 55px;
    font-family: Legan, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* swiper end */
/* awards end */



/* awards2 start */
.awards-section{
    background-color: var(--cream);
    padding: 50px 0;
}
.awards-small-heading{
    color: var(--brown);
    font-size: 30px;
    font-weight: 400;
    margin: 40px 0;
}
.award-card{
    gap: 10px;
}
.award-card img{
    width: 100%;
    height: 90px;
    object-fit: contain;
}
/* awards2 end */